<web-app>
	<display-name>material-showcase</display-name>
	<description>MaterialPrime Showcase Application</description>
	
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<session-config>
      <session-timeout>30</session-timeout>     
      <tracking-mode>COOKIE</tracking-mode> 
    </session-config>
	
	<mime-mapping> 
    	<extension>svg</extension> 
    	<mime-type>image/svg+xml</mime-type> 
	</mime-mapping>
	
	<mime-mapping> 
    	<extension>ttf</extension> 
    	<mime-type>application/x-font-ttf</mime-type> 
	</mime-mapping>
	
	<mime-mapping> 
    	<extension>otf</extension> 
    	<mime-type>application/x-font-opentype</mime-type> 
	</mime-mapping>
	
	<mime-mapping> 
    	<extension>woff</extension> 
    	<mime-type>application/font-woff</mime-type> 
	</mime-mapping>
	
	<mime-mapping> 
    	<extension>woff2</extension> 
    	<mime-type>application/font-woff2</mime-type> 
	</mime-mapping>
	
	<mime-mapping> 
    	<extension>eot</extension> 
    	<mime-type>application/vnd.ms-fontobject</mime-type> 
	</mime-mapping>
	
	<mime-mapping> 
    	<extension>sfnt</extension> 
    	<mime-type>application/font-sfnt</mime-type> 
	</mime-mapping>
	
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
</web-app>
